* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.calculator {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    border: 14px solid black;
}

#expression {
    width: 100%;
    height: 100px;
    color: lightcyan;
    font-size: 50px;
    text-align: right;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 5px;
    font-size: 25px;
    border: none;
    border-radius: 4px;
    background-color: silver;
    color: solid red;
    flex: 1;
    margin: 10px;
}
button.active {
    background-color: #f67c14; /* Color on click */
    transition: background-color 0.2s ease; /* Smooth transition */
}

.calculator-wrapper {
     display: flex;
     justify-content: center;
    margin-top: 40px;
}
